@font-face {
  font-family: Steelfish;
  src: url(/fonts/steelfish_rg.ttf);
}

@media (max-width: 240px) {
  html {
    font-size: 12px;
  }
}

/* Variables */
html {
  --basic-spacing: 1rem;

  --color-highlight: seagreen;
  --color-bg-darker: dimgrey;
  --color-bg-lighter: lightgrey;

  --width-max-content: 1000px;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

small + h1,
small + h3,
small + h4 {
  margin-top: 0;
}

header {
  background-color: var(--color-bg-darker);
  color: white;
}

main {
  margin: var(--basic-spacing);
}

aside {
  grid-area: aside;
  border: 1px solid var(--color-bg-lighter);
  padding: var(--basic-spacing);
  border-radius: 12px;
  position: sticky;
}

footer {
  text-align: center;
}

a,
a:hover {
  color: var(--color-highlight);
}

article h1 {
  color: var(--color-highlight);
}

article img {
  max-width: 100%;
  max-height: 360px;
  margin: 12px auto;
  display: block;
  box-shadow: 0 4px 10px black;
}

article img.emoji {
  display: inline;
}

article pre.lineno {
  padding-right: 6px;
  border-right: 1px solid lightgrey;
  text-align: right;
}

article blockquote footer {
  text-align: right;
  font-style: italic;
}

img#profile-pic {
  max-width: 100%;
  margin: var(--basic-spacing) 0;
}

/* Header positioning */
header > div {
  margin: 0 auto;
  padding-left: var(--basic-spacing);
  max-width: var(--width-max-content);
}

header h1 {
  font-family: Steelfish, sans-serif;
  letter-spacing: 0.15em;
  margin: auto;
  font-size: 3em;
}

header h1 a,
header h1 a:visited {
  text-decoration: none;
  color: inherit;
}

header h1 small {
  display: none;
  color: gray !important;
}

@media screen and (min-width: 768px) {
  header h1 small {
    display: inline;
  }
}

@media screen and (min-width: 1025px) {
  header > div {
    padding-left: 0;
  }
}

/* Navigation */
nav {
  grid-area: nav;
  background-color: var(--color-bg-lighter);
  border-radius: var(--basic-spacing);
  padding-left: var(--basic-spacing);
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline list-item;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-gap: var(--basic-spacing);
    grid-template-areas:
      "nav nav"
      ". aside";
    grid-template-columns: 3fr 1fr;
  }

  section > div {
    display: grid;
    grid-gap: var(--basic-spacing);
    grid-template-columns: 1fr 1fr;
  }

  section > div article:first-of-type {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1025px) {
  main {
    max-width: var(--width-max-content);
    margin: var(--basic-spacing) auto 0;
  }

  section > div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section > div article:first-of-type {
    grid-column: unset;
  }
}
