@font-face {
    font-family: Steelfish;
    src: url(/fonts/steelfish_rg.ttf);
}

@media (max-width: 240px) {
    html {
        font-size: 10px;
    }
}

h1.jedicomp {
    font-family: Steelfish;
    letter-spacing: 0.15em;
    font-size: 5em;
    vertical-align: bottom;
}

h1.jedicomp a {
    text-decoration: none;
    color: inherit;
}

h1.jedicomp a:visited {
    color: inherit;
}

h1.jedicomp small {
    color: gray !important;
}

header {
    background-color: dimgray;
    color: white;
}

img#profile-pic {
    max-width: 100%;
    margin-bottom: 1em;
}

@media (min-width: 576px) and (max-width: 767px) {
    img#profile-pic {
        float: right;
        max-height: 150px;
    }
}
    

article h1, a, a:hover {
    color: seagreen;
}

.post img {
    max-width: 100%;
    max-height: 360px;
    margin: 12px auto;
    display: block;
}

.post img.emoji {
    display: inline;
}

.post pre.lineno {
    padding-right: 6px;
    border-right: 1px solid lightgrey;
    text-align: right;
}
