@font-face {
    font-family: Steelfish;
    src: url(/fonts/steelfish_rg.ttf);
}

h1.jedicomp {
    font-family: Steelfish;
    letter-spacing: 0.15em;
    font-size: 5em;
    vertical-align: bottom;
}

h1.jedicomp a, h1.jedicomp a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: dimgray;
    color: white;
}

img#profile-pic {
    max-height: 150px;
}

a, a:hover, a:visited {
    color: seagreen;
}

.post img {
    max-width: 100%;
    max-height: 360px;
    margin: 12px auto;
    display: block;
}