@font-face {
    font-family: UltraCondensed;
    src: url(UltraCondensedSansSerif.ttf);
}

@font-face {
    font-family: Steelfish;
    src: url(steelfish_rg.ttf);
}

body {
    font-family: sans-serif;
    color: black;
    font-size: 1em;
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
}

h2 a {
    text-decoration: none;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

header {
    max-width: 800px;
    margin: auto;
}

main {
    max-width: 800px;
    margin: auto;
    background-color: white;
}

nav a {
    color: black;
    color: #aaaaaa;
    text-decoration: none;
    text-transform: lowercase;
}

nav a.active {
    color: #000000;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 24px;
    margin: 0 0 0 12px;
    display: inline-block;
    height: 48px;
}

nav ul li {
    display: inline-block;
    margin: 12px 12px 0 12px;
}

#page_title {
    font-family: Steelfish, sans-serif;
    font-size: 5em;
    letter-spacing: 0.15em;
    text-align: center;
}

.posts {
    margin: 0 12px;
    padding: 0 12px;
}

.shown {
    display: block;
}

.post {
    text-align: justify;
}

.post img {
    margin: 12px auto;
    display: block;
}

footer {
    font-size: 0.75em;
    margin-top: 20px;
    text-align: center;
}

#contato dt {
    font-weight: bold;
}

#contato dd {
    padding-left: 12px;
}

#contato ul {
    margin: 0;
    padding: 0;
}

#sobre {
    background-color: #eee;
    margin: 12px 0;
}

#sobre_pic {
    float: left;
}

#sobre_pic img {
    width: 240px;
    height: 240px;
    margin: 0 24px 12px 0;
    background-color: white;
    border: 10px solid black;
}

#dados {
    display: inline-block;
    width: calc(100% - 300px);
}

#dados dl {
    margin: 1px;
}

@media all and (max-width: 600px) {
    #sobre_pic {
        width: 100%;
        clear: both;
        float: none;
        text-align: center;
    }
    #sobre_pic img {
        margin: 12px auto;
    }
    #dados {
        width: 100%;
        margin: 12px;
    }
}

#projetos {
    clear: both;
}

#projetos .repo {
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}

#projetos .repo:last-child {
    border-bottom: none;
}

#projetos .repo > a {
    font-size: 1.2em;
}

#projetos p.comment {
    font-size: 0.8em;
}

.win-pivot .win-pivot-headers, nav ul {
    border-bottom: 1px solid #999;
    height: auto;
    max-width: 766px;
    margin: 0 auto;
}

.win-pivot-header {
    font-size: 32px !important;
    height: 48px !important;
}