@font-face {
	font-family: UltraCondensed;
	src: url(UltraCondensedSansSerif.ttf);
}

@font-face {
	font-family: Steelfish;
	src: url(steelfish_rg.ttf);
}

body {
	font-family: sans-serif;
	color: black;
	font-size: 1em;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

main {
	max-width: 800px;
	margin: auto;
	background-color: white;
}

#page_title {
	font-family: Steelfish, sans-serif;
	font-size: 5em;
	letter-spacing: 0.15em;
	text-align: center;
}

nav ul {
	list-style: none;
	max-width: 100%;
	text-align: center;
	padding: 0;
}
nav li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 0 20px;
	vertical-align: baseline;
}

nav li:last-child {
	border: none;
}

nav a {
	text-decoration: none;
	font-family: sans-serif;
	font-variant: small-caps;
}

#conteudo {

}

#posts {
}

.center {
	text-align: justify;
	position: relative;
	font-size: 1em;
}

.shown{
	display: block;
}

.post {
}

footer {
	font-size: 0.75em;
	margin-top: 20px;
	text-align: center;
}

#contato {

}

	#contato dt {
		font-weight: bold;
	}

	#contato dd {
		padding-left: 12px;
	}

	#sobre_pic {
			float: left;
	}

		#sobre_pic img {
			width: 150px; 
			height: 150px;
			margin: 24px;
			background-color: white;
		}

	#dados {
		float: left;
	}

	#projetos {
		clear: both;
	}

		#projetos .repo {
			border-bottom: 1px solid #ddd;
			margin-bottom: 12px;
		}

		#projetos .repo:last-child {
			border-bottom: none;
		}

		#projetos .repo > a {
			font-size: 1.2em;
		}

		#projetos p.comment {
			font-size: 0.8em;
		}
