---
layout: default
title: Thiago Abreu

paginate: 2
---
<div id="conteudo">
	<div id="posts" class="center">
		{% for post in site.posts %}
		<div class="post">
			<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
			<p>{{ post.excerpt}} 
				<a href="{{ post.url }}">Continue lendo....</a>
			</p>
		</div>
		{% endfor %}
		<div class="post">
			<a href="blog">Ver todos os posts</a>
		</div>
	</div>
	<div id="contato" class="center">
		<div id="sobre_pic">
			<img src="{{ site.github.owner_gravatar_url }}" />
		</div>
		<div id="dados">
			<dl>
				<dt>Nome:</dt>
				<dd>Thiago Abreu</dd>
				<dt>Também conhecido como:</dt>
				<dd>Thiago Jedi, Ray Skywalker, Ray Sky, Ray Jedi, Rayarth, ...</dd>
				<dt>Local:</dt>
				<dd>Natal, RN, Brasil</dd>
				<dt>B-sides:</dt>
				<dd>Baixista e fã de Star Wars</dd>
				<dt>Links:</dt>
				<dd>
					<ul>
						<li>GitHub: @thiagoabreu </li>
						<li>Twitter: <a href="http://twitter.com/jedi_thiago" title="@Jedi_Thiago">@Jedi_Thiago</a></li>
						<li>Facebook: <a href="http://facebook.com/thiagojedi" title="Perfil no Facebook">Perfil no Facebook</a> </li>
						<li>E-mail: <a href="mailto:thiagojedi@live.it?subject=Contato Github" "Entre em contato">Entre em contato</a> </li>
					</ul>
				</dd>
			</dl>
		</div>
		<div id="projetos">
			<h3>Projetos de Código Aberto:</h3>
			<div class="repo">
				<a href="http://blackberets.github.io/cardapio/" title="App Cardápio RU">App Cardápio RU</a> ( C# )
				<p>Aplicativo do Cardápio do Restaurante Universitário da UFRN para Windows Phone</p>
			</div>
			{% if site.github %}

			{% assign repos = site.github.public_repositories | sort: 'updated_at' %}
			{% for repo in repos limit:5 %}
			<div class="repo">
				<a href="{{ repo.html_url }}" title="{{ repo.name }}">{{ repo.name }}</a> {% if repo.language %}
				({{ repo.language }})
				{% endif %}
				<p>{{ repo.description }}</p>
			</div>
			{% endfor %}
			{% else %}
			<div class="repo">
				<a href="#" title="Repositorio">Repositorio</a>
				<p>Descrição</p>
			</div>
			<div class="repo">
				<a href="#" title="Repositorio">Repositorio</a>
				<p>Descrição</p>
			</div>
			{% endif %}
			Veja todos no perfil do <a href="http://github.com/thiagoabreu" title="GitHub Profile">GitHub</a>
		</div>
	</div>
</div>
