#post_title_inline {
    display: none;
    visibility: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .container {
        -webkit-columns: 40vw;
        -moz-columns: 40vw;
        columns: 40vw;
        column-gap: 32px;
        column-fill: balance;
        max-height: 95vh;
        padding: 12px 15px;        
        width: 90vw;
    }
    .post img {
        max-width: 80%;
    }
    #page_title {
        text-align: left;
    }
    #post_title_inline {
        display: inline-block;
        visibility: visible;
    }
    footer {
        padding: 0 15px;
    }
}