#post_title_inline {
    display: none;
    visibility: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .container {
        -webkit-columns: 768px;
        -moz-columns: 768px;
        columns: 768px;
        /*column-gap: 2em;*/
        column-fill: balance;
        max-height: 95vh;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 768px;
    }
    .post img {
        max-width: 80%;
    }
    #post_title_inline {
        display: inline-block;
        visibility: visible;
    }
    footer {
        padding: 0 15px;
    }
}