<div class="well">
	<p>
		<img src="https://github.com/thiagoabreu.png" alt="Thiago Abreu" class="img-responsive img-circle center-block" id="profile-pic"
		/>
	</p>
	<p>
		Meu nome é Thiago Abreu, sendo amplamente conhecido na minha cidade como Thiago Jedi.
	</p>
	<div class="hidden-xs">
        <p>
            Nascido e criado em Natal, RN, sou Bacharel em Ciência da Computação pela UFRN. Atualmente trabalho como programador na empresa SoftUrbano.
        </p>
        <p>
            Minha principal linguagem de programação atualmente é C#, mas tenho algum conhecimento em linguagens como JavaScript, TypeScript, Vala, Java, Ruby, Python...
        </p>
        <p>
            Além disso, toco contrabaixo, jogo online e conto piadas ruins.
        </p>
    </div>
    <div class="contato">
        <dl>
            <dt>Email:</dt>
            <dd>thiagojedi at live.it</dd>
            <dt>Facebook:</dt>
            <dd><a href="https://fb.com/thiagojedi">@thiagojedi</a></dd>
            <dt>Github:</dt>
            <dd><a href="https://github.com/thiagoabreu">@thiagoabreu</a></dd>
            <dt>Twitter:</dt>
            <dd><a href="https://twitter.com/Jedi_Thiago">@Jedi_Thiago</a></dd>
        </dl>
    </div>
</div>