<div class="card">
    <div class="card-body">
        <img src="https://github.com/thiagoabreu.png" alt="Thiago Abreu" class="rounded" id="profile-pic" />
        <h5 class="card-title">Sobre mim</h5>
        <p class="cart-text" lang="pt_BR">
            Meu nome é Thiago Abreu, conhecido como Thiago Jedi pelos meus colegas.
        </p>
        <p class="cart-text" lang="en_US">
            My name is Thiago Abreu, also known as Thiago Jedi by my colleagues.
        </p>
        <div class="d-none d-lg-inline-block" lang="pt_BR">
            <p>
                Nascido e criado em Natal, RN, sou Bacharel em Ciência da Computação pela UFRN. Atualmente trabalho como programador na empresa
                <a href="http://www.agilecontent.com/br/">Agile Content S.A</a>. em São Paulo, SP.
            </p>
            <p>
                Minha principal linguagem de programação atualmente é JavaScript, mas tenho algum conhecimento em linguagens como C#, TypeScript,
                Vala, Java, Ruby, Python...
            </p>
            <p>
                Além disso, toco contrabaixo, jogo online e conto piadas ruins.
            </p>
        </div>
        <div class="contato">
            <dl>
                <dt>Email:</dt>
                <dd>thiagojedi at live.it</dd>
                <dt>Facebook:</dt>
                <dd>
                    <a href="https://fb.com/thiagojedi">@thiagojedi</a>
                </dd>
                <dt>Github:</dt>
                <dd>
                    <a href="https://github.com/thiagoabreu">@thiagoabreu</a>
                </dd>
                <dt>Twitter:</dt>
                <dd>
                    <a href="https://twitter.com/Jedi_Thiago">@Jedi_Thiago</a>
                </dd>
                <dt>LinkedIn:</dt>
                <dd>
                    <a href="https://www.linkedin.com/in/thiagojediabreu/">Thiago Cerqueira</a>
                </dd>
            </dl>
        </div>
    </div>
</div>