@font-face {
  font-family: Steelfish;
  src: url('/fonts/steelfish_rg.ttf');
}

@media (max-width: 240px) {
  html {
    font-size: 12px;
  }
}

/* Variables */
html {
  --basic-spacing: 1rem;
  --color-highlight: seagreen;
  --color-bg-darker: dimgrey;
  --color-bg-lighter: lightgrey;
  --width-max-content: 1000px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

small + h1,
small + h3,
small + h4 {
  margin-top: 0;
}

header {
  background-color: var(--color-bg-darker);
  color: white;
}

main {
  margin: var(--basic-spacing);
}

aside {
  position: sticky;
  grid-area: aside;
  border: 1px solid var(--color-bg-lighter);
  border-radius: 12px;
  padding: var(--basic-spacing);
}

footer {
  text-align: center;
}

a {
  color: var(--color-highlight);
}

article h1 {
  color: var(--color-highlight);
}

article img {
  display: block;
  margin: 12px auto;
  box-shadow: 0 4px 10px black;
  max-width: 100%;
  max-height: 360px;
}

article img.emoji {
  display: inline;
}

article > div {
  overflow: auto;
}

article pre.lineno {
  border-right: 1px solid lightgrey;
  padding-right: 6px;
  text-align: right;
}

article blockquote footer {
  text-align: right;
  font-style: italic;
}

img#profile-pic {
  margin: var(--basic-spacing) 0;
  max-width: 100%;
}

/* Header positioning */
header > div {
  margin: 0 auto;
  padding-left: var(--basic-spacing);
  max-width: var(--width-max-content);
}

header h1 {
  margin: auto;
  letter-spacing: 0.15em;
  font-family: Steelfish, sans-serif;
  font-size: 3em;
}

header h1 a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-highlight);
}

header h1 a:visited {
  text-decoration: none;
  color: inherit;
}

header h1 small {
  display: none;
  color: gray !important;
}

@media screen and (min-width: 768px) {
  header h1 small {
    display: inline;
  }
}

@media screen and (min-width: 1025px) {
  header > div {
    padding-left: 0;
  }
}

/* Navigation */
nav {
  margin: var(--basic-spacing) auto 0;
  border-radius: var(--basic-spacing);
  background-color: var(--color-bg-lighter);
  padding: var(--basic-spacing);
  max-width: var(--width-max-content);
}

nav ul {
  display: flex;
  gap: var(--basic-spacing);
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline list-item;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-areas: '. aside';
    grid-template-columns: 3fr 1fr;
    grid-gap: var(--basic-spacing);
  }

  section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--basic-spacing);
  }

  section > div article:first-of-type {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1025px) {
  main {
    margin: var(--basic-spacing) auto 0;
    max-width: var(--width-max-content);
  }

  section > div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section > div article:first-of-type {
    grid-column: unset;
  }
}
