---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/sidebar.astro';
import RepoList from '../components/repo-list';
import HighlightPost from '../components/highlight-post';

import { sortByDate } from '../helpers/date';
import { getPublicRepositories } from '../services/github';

const posts: Post[] = await Astro.glob('./blog/*.{md,mdx}');

const highlightPosts = posts
  .filter((post) => !post.frontmatter.draft)
  .sort(sortByDate((x) => x.frontmatter.pubDate!))
  .slice(0, 3);

const repos = (await getPublicRepositories())
  .filter((r) => r.description)
  .sort(
    (a, b) =>
      new Date(b.updated_at).valueOf() - new Date(a.updated_at).valueOf(),
  )
  .slice(0, 6);
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <BaseHead />
  </head>

  <body>
    <Header />

    <nav aria-label="breadcrumb">
      <ul>
        <li>
          <a href="/">Página Inicial</a>
        </li>
      </ul>
    </nav>

    <main>
      <div>
        <section>
          <h2>Blog</h2>
          <div>
            {highlightPosts.map((post) => <HighlightPost post={post} />)}
          </div>
          <a href="/blog" title="More posts">Mais postagens</a>
        </section>

        <RepoList repos={repos} />
      </div>

      <aside>
        <Sidebar />
      </aside>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
