<html>
<head>
    <title>Thiago Abreu - Blog</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link href="../estilo.css" rel="stylesheet">
</head>
<body>
    {% include blog_header.html %}
    <main>
        <div id="conteudo">
            <img src="../images/obi-wan.jpg" alt="Obi-Wan" />
            <div class="posts">
                {{ content }}
            </div>
        </div>
    </main>
    {% include blog_footer.html %}

</body>
</html>