<html>
<head>
	<title>{% include var_titulo.html %}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/winjs/4.1.0/css/ui-light.css" rel="stylesheet" />
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/winjs/4.1.0/js/base.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/winjs/4.1.0/js/ui.js"></script> 

	<link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
		{{ content }}   
<script>
	WinJS.UI.processAll(document);

	// window.addEventListener('resize', function() {
	// 	var hub = document.querySelector(".win-hub").winControl;
		
	// 	if (document.body.clientWidth > 500) {
	// 		hub.orientation = WinJS.UI.Orientation.vertical;
	// 	} else if (hub.orientation !== WinJS.UI.Orientation.horizontal) {
    //         hub.orientation = WinJS.UI.Orientation.horizontal;
	// 	}
	// });
</script>
</body>
</html>